<div class="jumbotron">

<h2>Search the ticker symbol of your choosing to get accurate infomation about the stock.</h2>
  <h1 class="display-4">{{stockData.companyName}} ({{stockData.symbol}})</h1>
 
<strong>Exchange: </strong>{{stockData.primaryExchange}}<br/>
<strong>Latest Price: </strong>${{stockData.latestPrice}}<br/>
<strong>Previous Close: </strong>${{stockData.previousClose}}<br/>
<strong>Percent Change: </strong>{{stockData.changePercent}}%<br/>
<strong>Market Cap: </strong>${{stockData.marketCap}}<br/>
<strong>Year to Data change: </strong>{{stockData.ytdChange}}%<br/>
<strong>52 Week High: </strong>${{stockData.week52High}}<br/>
<strong>52 Week Low: </strong>${{stockData.week52Low}}<br/></p>

</div>
